.home {
  background-image: url('/images/section_one_backgroud.svg') !important;
  background-size: cover;
  background-position: center;
}

.section_one,
.section_two {
  height: 740px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: left;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #FF6171 !important;
}

.subtitle_two {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.list_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #FF6171 !important;
}