@import "globals";

.home {
  background-image: url('/images/section_one_backgroud.svg') !important;
  background-size: cover;
  background-position: center;

  &__header {
    min-height: 740px;
  }

  &__header-subtitle {
    color: $primary-color !important;
  }

  &__body-one {
    min-height: 740px;
  }

  &__body-one-content,
  &__body-two-content,
  &__body-three-content,
  &__body-four-content {
    color: $primary-color !important;
  }

  .btn-custom {
    background-color: $black-color !important;
    color: white;
  }
}